<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TNPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ExtensionAPI" publicKeyToken="83C87735EAC8876A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <TNPro.Properties.Settings>
   <setting name="Setting" serializeAs="String">
    <value>aa</value>
   </setting>
   <setting name="ShowRegisterVersioned" serializeAs="String">
    <value>True</value>
   </setting>
  </TNPro.Properties.Settings>
 </userSettings>
</configuration>
